body 
{
    
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Dancing Script', cursive;
    color:  #fff;
}
.h
{
    margin: 10px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-2
{
    font-size: 30px;
}
.timer
{
    color : #fff;
    text-align: center;
    width : 20rem;
    height: 20rem;
    border : 5px solid #fff;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row
{
    width: 100%;
}
.btn
{
    padding : 0;
}
.fa-play,
.fa-redo-alt {
  color: #000;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}
.fa-play:hover,
.fa-redo-alt:hover {
  color: #fff;
  border: none;
}
.show_message {
    display: block;
    padding: 1rem 0;
    color: #272343;
    background: fff;
    border-radius: 0.5rem;
    transition: 0.5s ease;
  }
